
/* start */
.userButtonStart {
    background-image: linear-gradient(to right, #05e70c, #05e70c 50%, #000 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;

    font-weight: 500;
}
.userButtonStart:before {
    content: '';
    background: #15fb1c;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}
.userButtonStart:hover {
    background-position: 0;

    font-weight: 600;
}
.userButtonStart:hover::before {
    width: 100%;
}

/* end */

.userButtonEnd {
    background-image: linear-gradient(to right, #fc0707, #fc0707 50%, #000 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;

    font-weight: 500;
}
.userButtonEnd:before {
    content: '';
    background: #fc0707;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}
.userButtonEnd:hover {
    background-position: 0;

    font-weight: 600;
}
.userButtonEnd:hover::before {
    width: 100%;
}